<app-nav></app-nav>
<div class="boards-wrapper col-md-6">
    <h2>Boards</h2>
    <div id="boards" *ngFor="let trello of trello">
      <a class="board" [routerLink]="['/trello',trello.id,trello.name]">
        <span class="title">{{trello.name}}</span>
      </a>
    </div>  
    <div class="add-card">
      <button type="button" type="reset" class="btn" data-toggle="modal" data-target="#myModal">Create new Board</button>
       <button  class="button" type="reset" (click)="addTrello()"><i style="font-size:24px" class="fa">&#xf0fe;</i></button>
    </div>  
    
</div>


<div class="container ">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add the Board and Card</h4>
        </div>
        <div class="modal-body">
          Enter the Trelloid:<input type="number"  [(ngModel)]="trelloid" ><br><br>
          Enter the Trelloname:<input type="text"  [(ngModel)]="trelloname"  ><br><br>
          Enter the Boardid:<input type="text" type="number" [(ngModel)]="boardid" ><br><br>
          Enter the Boardname:<input [(ngModel)]="boardname"  ><br><br>
          Enter the cardid:<input  type="number" [(ngModel)]="cardid" ><br><br>
          Enter the cardname:<input type="text" [(ngModel)]="cardname"><br><br>
        </div>
        <div class="modal-footer">
          <button type="submit"type="reset"  class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
   </div>
  </div>
</div>

